
@{
    ViewData["Title"] = "About";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/site.css" />
<!--
<div class="card bg-dark text-dark">
    <img src="https://images.theconversation.com/files/304957/original/file-20191203-66986-im7o5.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip" alt="">
    <div class="card-img-overlay">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <h2 class="card-title">Dedicated to the work of Health and Healing</h2>
                <p class="card-text">
                    Brooking Medical Center, one of the largest health systems in the Brookings, is dedicated to the integrated
                    delivery of health care, genomic medicine, senior care and services, global clinics, research and
                    affordable insurance. Headquartered in Brookings, South Dakota, the organization includes 44 hospitals,
                    1,400 physicians and more than 200 Good Samaritan Society senior care locations in 26 states and
                    nine countries.
                </p>
            </div>
        </div>
    </div>
</div>
    -->


<div class="home-wrap">
    <div class="caption text-center aboutText">
        <h1 class="flexEnd">Dedicated to the work of Health and Healing</h1>
        <p class="flexEnd">
            Brooking Medical Center, one of the largest health systems in the Brookings, is dedicated to the integrated
            delivery of health care, genomic medicine, senior care and services, global clinics, research and
            affordable insurance. Headquartered in Brookings, South Dakota, the organization includes 44 hospitals,
            1,400 physicians and more than 200 Good Samaritan Society senior care locations in 26 states and
            nine countries.
        </p>
        <a style="width:150px;" class="btn btn-outline-light btn-lg flexEnd">Learn More</a>
    </div>
</div>

   



<!--
<div class="container">
    <img src="https://azbigmedia.com/wp-content/uploads/2017/11/doctor-shortage.jpg" class="img-fluid" width="100%" alt="Responsive Image" />
    <h1>About</h1>
</div>
    -->
